@import 'src/app/styles/colors';
@import 'src/app/styles/variables';

.notification-button {
  background-color: $header-button-background-color;
  margin-left: 16px;
  width: 30px;
  height: 30px;

  mat-icon {
    width: 24px;
    height: 22px;
  }

  &:hover {
    background-color: $black-08;
  }

  @media (max-width: $small) {
    margin-top: 0;
  }
}

.notification-menu {
  &__button {
    &:hover {
      background-color: $blue-white;
    }
  }

  &__icon {
    &_yellow {
      color: $yellow;
    }

    &_green {
      color: $green;
    }

    &_pink {
      color: $pink;
    }

    &_blue {
      color: $blue;
    }
  }
}
