<div
  fxLayout="row wrap"
  class="footer"
  fxLayoutAlign="center center"
>
  <div
    class="p-2"
    fxLayout="row wrap"
    fxFlex="auto"
    fxLayoutAlign="auto center"
    fxLayout.xs="column"
  >
  <span class="text-white me-3">Todos los derechos reservados &copy; 2024 </span>
  </div>
  <div fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-mini-fab>
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon> south_america </mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon> compost </mat-icon>
    </button>
  </div>
</div>
